@import '../../../../assets/styles/colors.scss';
.invisible {
  display: none;
}
.tooltipLine {
  line.visible {
    opacity: 1;
  }
}
.drawn {
  width: 0 !important;
  height: auto !important;
}
.lineValue,
.lineVacc,
.lineNull {
  path {
    fill: none;
    stroke: $value-red;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
    clip-path: url('#plotArea');

    &.coverage_mcv1_infant {
      stroke: $data-blue;
    }
  }
}
.avgXLine {
  stroke: #333333;
  stroke-width: 1px;
  stroke-dasharray: 6;
  stroke-linecap: square;
}
.avgXLineLabel {
  text-anchor: start;
  font-family: 'open_sanssemibold', sans-serif;
  font-weight: 600;
  fill: $dark-grey;
}
.areaNull {
  path {
    // stroke: green;
    fill: $light-grey-2;
    clip-path: url('#plotArea');
  }
}

.x-axis, .x-axis-2, .y-axis, .y-axis-right, .avgXLineLabel {
  // > path {
  //   // display: none;
  // }
  path, line {
    stroke: #6d6e70;
  }
  text {
    font-family:'Open Sans', sans-serif;
    font-size: 1.5em;
    fill: $dark-grey;
  }
  .label {
    font-family: 'open_sanssemibold', sans-serif;
    font-weight: 600;
    text-align: center;
    fill: $dark-grey;
    text-anchor: middle;
    font-size: 1.55em;
  }
}

g.bubbles {
  circle.scatterCircle {
    cursor: pointer;
    stroke: white;
    stroke-width: .5px;
    transition: fill .25s;
    &:hover {
      & + text.scatterCircleLabel {
        opacity: 1;
      }
    }
  }
  g.active circle.scatterCircle {
    fill: $data-blue;
    transition: fill .25s;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.68);
    -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.68);

    & + text.scatterCircleLabel {
      opacity: 1;
      fill: $dark-grey !important;
    }
  }
}

text.monthYearLabel {
  text-anchor: middle;
  font-weight: bold;
  font-size: 4em;
  fill: $light-grey-2;
  font-family: 'Gotham Book', sans-serif;
}

text.scatterCircleLabel {
  fill: $grey;
  text-anchor: middle;
  vertical-align: middle;
  pointer-events: none;
  z-index: 1000;
  opacity: 0;
  transition: opacity .25s;
}

.y-axis-right .label {
  fill: $dark-grey;
  transform: rotate(90deg) !important;
}
.y-axis .label {
  transform: rotate(-90deg);
}
.slider {
  .sliderRect {
    fill: $value-red;
    stroke: white;
    stroke-width: .25px;
    &.dim {
      opacity: .5;
    }
    &.nullBar {
      fill: #e6e6e6;
      stroke-width: 0;
    }
  }

}
.overlayRect {
  fill: white;
  opacity: .5;
  .overlayRect-1 {
    fill: white;

  }
  .overlayRect-2 {
    fill: white;
  }
}

.tooltipLine {
  stroke: $grey;
  stroke-width: 2px;
  // transform: translateX(.5px);
  line {
    opacity: 0;
    transition: opacity .5s;
  }
}
