@import '../../../assets/styles/colors.scss';

$button-width: 250px;
$button-font-size: 16px;
$spacing: 10px;

.footer {
  display: flex;
  flex-flow: row;
  background-color: white;

  padding: 10px;

  div:first-child {
    // margin-right: auto;
    // margin-left: 0;
    margin: auto auto 0 0;
    font-style: italic;
    font-family: 'Gotham Book', sans-serif;
    color: $dark-grey-2;
  }

  .links {
    margin-left: auto;
  }

  img {
    height: 70px;
    padding: 0 10px;
  }

  a:first-child img {
    border-right: 1px solid $dark-grey;
  }
}
