@import '../../../assets/styles/colors.scss';
$logo-height: 70px;

.logo {
  background-color: $dark-grey;
  z-index: 3;
  display: flex;
  justify-content: left;
  // height: min-content;

  a {
    display: flex;
    .img {
      height: $logo-height;
    }
  }

  .text {
    display: flex;
    flex-flow: column;
    text-align: left;
    justify-content: center;
    margin-left: 40px;
    line-height: 1.2;

    .title, .subtitle {
      color: white;
      // align-self: center;
    }
    .title {
      font-family: 'Gotham Bold', serif;
      font-size: 2em;
      color: white;
      align-self: center;
    }
    .subtitle {
      font-family: 'Gotham Book', serif;
      font-style: italic;
      color: $grey;
    }
  }

}
