@import '../../../assets/styles/colors.scss';
$logo-height: 70px;

.logo {
  background-color: $dark-grey;
  z-index: 3;
  display: flex;
  justify-content: left;
  position: relative;

  $navButtonSize: 75px;

  .navButtons {
    display: flex;
    flex-flow: row;
    position: absolute;
    right: 0;
    bottom: -$navButtonSize/2;
  }
  .navButtons a.active div, .navButtons div.active {
    background-color: darken(#5781ab, 5%);
    border: 1px solid white;
  }
  .navButtons a, .navButtons {
    div {
      display: flex;
      flex-flow:row;
      border-radius: 9999px;
      background-color: #5781ab;
      height: $navButtonSize;
      width: $navButtonSize;
      float: right;
      box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.29);
      -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.29);
      position: relative;
      line-height: $navButtonSize;
      cursor: pointer;
      margin-right: 10px;

      &:hover {
        background-color: darken(#5781ab, 5%);
      }
      &:active {
        background-color: darken(#5781ab, 15%);
      }
      border: 1px solid transparent;
      img {
        height: $navButtonSize*.6;
        display: flex;
        flex-flow:row;
        align-content: center;
        justify-self: center;
        margin: auto;
        position: relative;
      }
    }
  }

  a {
    display: flex;
    .img {
      height: $logo-height;
    }
  }

  .text {
    display: flex;
    flex-flow: column;
    text-align: left;
    justify-content: center;
    margin-left: 40px;
    line-height: 1.2;

    .title, .subtitle {
      color: white;
      // align-self: center;
    }
    .title {
      font-family: 'Gotham Bold', serif;
      font-size: 2em;
      color: white;
      align-self: center;
    }
    .subtitle {
      font-family: 'Gotham Book', serif;
      font-style: italic;
      color: $grey;
    }
  }

}
