@import '../../../assets/styles/colors.scss';

.logo {
  background-color: $dark-grey;
  z-index: 3;
  display: flex;
  // align-items: center;
  justify-content: left;

  a {
    display: flex;
    // align-items: center;
    // justify-content: left;
    // height: calc(100% - 20px); //fake padding
    .img {
      height: 100%;
      // width: auto;
    }
  }

  .title {
    font-family: 'Gotham Bold', serif;
    font-size: 2em;
    color: white;
    margin-left: 40px;
    align-self: center;
  }
}
