@import '../../../assets/styles/colors.scss';

$title-font-size: 16px;
$font-size: 16px;
$text-spacing: 10px;
$container-spacing: 20px;
$border-radius: 5px;
$icon-height: 20px;

.mapOverlay {
  position: absolute;
  display: flex;
  flex-flow: column;
  z-index: 2;
  bottom: 0;
  right: 20px;

  // Scale legend size to be smaller than default size.
  // transform: scale(1);
  transform: scale(1) translateY(calc(100% - 50px));
  transition: all .5s;
  transform-origin: bottom;

  .toggleButton {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    font-size: initial;
    padding: 10px;
    width: 200px;

    background-color: white;
    color: #808183;

    cursor: pointer;

    i, &::before {
      font-size: 1.453em !important;
    }
    i {
      transform: rotate(-90deg)scaleY(1.2);
      transition: all .5s;
      vertical-align: middle;
      font-size: initial;
      margin-left: 20px;
      top: 2px;
      position: relative;
    }
    &::before {
      font-family: 'Open Sans', sans-serif;
      content: 'show legend';
    }
  }

  &.open .toggleButton {
    i {
      transition: all .5s;
      top: 0;
      transform: rotate(90deg)scaleY(1.2);
    }
    &::before {
      content: 'hide legend';
    }
  }
}

.open {
  // Scale legend size to be smaller than default size, and translate it so it
  // is visible.
  transform: scale(1);
  transition: all .5s;
}
.sections {
  display: flex;
  flex-flow: row;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.92);

  .section {
    display: flex;
    flex-flow: column;
    cursor: default;
    color: #161616;

    padding-right: 80px;
    &:last-child {
      padding-right: 0;
    }

    .sectionName {
      font-family: 'rawline', serif;
      font-size: 1.0605em;
      margin-bottom:10px;
    }
    .legendEntryGroups {
      display: flex;
      flex-flow: row;
      .legendEntryGroup {
        display: flex;
        flow-flow: row;

        .legendEntry {
          width: 70px;
          display: flex;
          flex-flow: column;
          position: relative;

          $rect-height: 25px;
          $rect-width: 70px;
          $rect-border-width: 1px;

          &.dataNotAvailable {
            margin-left: $rect-width / 2;
            .legendIcon.rect {
              border-color: #b3b3b3;
            }
          }

          .legendIcon {
            &.rect {
              width: $rect-width;
              height: $rect-height;
              border: $rect-border-width solid #666666;
            }
          }
          .legendLabel {
            position: absolute;
            font-size: 0.8605em;
            white-space: nowrap;
            bottom: 0;
            top: $rect-height + 2px;
          }
          &:last-child:not(:first-child) {
            .legendLabel {
              right: -2*$rect-border-width;
            }
          }
        }
      }
    }
  }
}
