@import '../../../assets/styles/colors.scss';
$nav-height: 80px;
$logo-height: $nav-height/2;
// $logo-height: 50px;

.nav {
  background-color: $dark-grey;
  z-index: 3;
  display: flex;
  justify-content: left;
  position: sticky;
  top: 0;
  height: $nav-height;

  $navButtonSize: 55px;

  &.map + div {
    background-color: #122336;
  }

  .navButtons {
    display: flex;
    flex-flow: row;
    position: absolute;
    right: 0;
    bottom: -$navButtonSize/2;
  }

  // .navButtons .active {
  &.loading {
    .navButtonContainer {
      // pointer-events: none;
    }
  }
  &.loading .navButtons .active {

    // Circle
    .buttonSpinner {
      opacity: 1;
      transition: .5s opacity;
    }
  }
  .navButtons .buttonSpinner {
    pointer-events: none;
    opacity: 0;
    transition: .5s all;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    transform-origin: center;
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
  }


  .navButtons {
    $spinnerShift: 4px;
    $spinnerSize: $navButtonSize + $spinnerShift; // 4px = borders
    .navButtonContainer {
      position:relative;

      &:nth-child(2) {
        .navButton {
          z-index: 1;
        }
      }
    }
    // Circle
    .buttonSpinner {
      border-radius: 9999px;
      background: $loading-spinner-gradient;
      position: absolute;
      height: $spinnerSize;
      width: $spinnerSize;
      z-index: 10000;
      // left: 2px;
      // top: 2px;
    }
    // Rect
    // .buttonSpinner {
    //   border-radius: 0 0 0 8px;
    //   background: $loading-spinner-gradient;
    //   position: absolute;
    //   height: $spinnerSize/2;
    //   width: $spinnerWidth;
    //   top: ($navButtonSize/2) + 2px;
    //   left: ($navButtonSize/2) - ($spinnerWidth/2) + 2px;
    // }
  }

  .navButtons .navButtonContainer.active .navButton {
    transition: background-color .125s;
    background-color: darken(#5781ab, 15%);
    border: 2px solid white;
  }
  .navButtons a, .navButtons {

    .navButtonContainer:last-child > .navButton {
      margin-right: 16px; // prevents browser jump in FF
    }

    .navButton {
      z-index: 0;
      display: flex;
      flex-flow:row;
      border-radius: 9999px;
      background-color: #5781ab;
      height: $navButtonSize;
      width: $navButtonSize;
      float: right;
      box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.29);
      -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.29);
      position: relative;
      line-height: $navButtonSize;
      cursor: pointer;
      margin-right: 10px;
      transition: background-color .125s;

      &:hover {
        transition: background-color .125s;
        background-color: darken(#5781ab, 15%);
      }
      &:active {
        transition: background-color .125s;
        background-color: darken(#5781ab, 25%);
      }
      border: 2px solid transparent;
      img {
        height: $navButtonSize*.6;
        display: flex;
        flex-flow:row;
        align-content: center;
        justify-self: center;
        margin: auto;
        position: relative;
      }
    }
  }

  a {
    display: flex;
    .img {
      height: $logo-height;
      margin: auto 25px;
    }
  }

  .text {
    display: flex;
    flex-flow: column;
    text-align: left;
    justify-content: center;
    // margin-left: 25px;
    line-height: 1.2;

    .title, .subtitle {
      color: white;
      // align-self: center;
    }
    .title {
      font-family: 'Gotham Bold', serif;
      font-size: 2em;
      color: white;
      align-self: center;
    }
    .subtitle {
      font-family: 'Gotham Book', serif;
      font-style: italic;
      color: $grey;
    }
  }

  $regionPickerWidth: 300px;
  .navButtonContainer .locationPicker {
      background-color: white;
      opacity: 0;
      transition: opacity .25s;
      width: $regionPickerWidth;
      position: absolute;
      right: 0;
      top: -10px;
      border-radius: 10px;
      box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.29);
      -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.29);
      pointer-events: none;
      line-height: 1.3;


      font-size: 1.25em;

      &.visible {
        opacity: 1;
        transition: opacity .25s;
        pointer-events: all;

        & + .navButton {
          border: 2px solid $light-grey-2;
          box-shadow: none;
          -webkit-box-shadow: none;
        }
      }

      & + .navButton {
        cursor: default;
        &:active {
          background-color: darken(#5781ab, 15%);
        }
      }

      .header {
        display: flex;
        flex-flow: column;
        justify-content: center;
        font-family: 'Gotham Bold';
        background-color: $light-grey-2;
        border-radius: 10px 10px 0 0;
        height: 80px;
        padding-left: 20px;
        margin: auto 0;
      }
      .content {
        font-family: 'Gotham Book', sans-serif;
        font-size: .66em;
        .regionContainer {

          // TODO elegantly
          &:nth-child(7) .region {
            border-radius: 0 0 10px 10px;
          }
          .region {
            span {

            }
            padding: 20px;
            cursor: pointer;

            &:hover {
              background-color: lighten($light-grey-2, 5%);
            }
            &[currentitem="true"] {
              > span {
                color: $selected-blue;
                text-decoration: underline;
              }

              .regionCountryMenu {
                display: flex;
                flex-flow: column;
              }
            }
            .regionCountryMenu {
              $border: 2px;
              $padding: 20px + 30px;
              display: none;
              position: relative;
              top: -10px;
              // transition: opacity .25s;

              place-self: center;
              width: $regionPickerWidth*.66;
              border-radius: 10px;

              overflow-y: scroll;
              max-height: 75vh;

              background-color: white;
              box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.29);
              -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.29);

            }
            &.active + .regionTooltip {
              opacity: 1;
            }
          }
        }

        .regionTooltip {
          pointer-events: auto !important;
          background-color: white;
          position: absolute;
          margin: 0;
          top: 0;
          opacity: 1;

          $border: 2px;
          $padding: 20px + 30px;
          left: -$regionPickerWidth + 2px + 100px;
          width: $regionPickerWidth*.66;
          border-radius: 10px;
          padding: 0;
          overflow-y: scroll;
          max-height: 30vh;

          background-color: white;
          box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.29);
          -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.29);

          .country {
            color: black;
            text-decoration: none !important;
            cursor: pointer;
            padding: 10px;

            &:hover {
              background-color: lighten($light-grey-2, 5%);
            }
            &.active, &.active:hover {
              background-color: #8fc5d4;
            }
            &:last-child {
              border-radius: 0 0 10px 10px;
            }
            .curCountryMarker {
              height: 15px !important;
              width: 15px !important;
              transform: none !important;
              margin-left: 5px !important;
              right: 10px;
              position: absolute !important;
            }
          }
        }
      }
  }
}
