@import '../../../assets/styles/colors.scss';

.yearlyReport {

  width: 100%;

  &.inTooltip {
    width: 350px;
    padding: 10px;

    .dataSource {
      text-align: left;
    }

    table td {
      width: 50%;
    }
  }

  p {
    margin-bottom: 10px;
  }
  table {
    border-spacing: 0;
    border: 1px solid $light-grey;
    padding: 0;
    max-width: 680px;

    tr:first-child td {
      // font-weight: 600;
      font-family: 'Gotham Bold', serif;
      vertical-align: bottom;
    }
    tr:nth-child(2n) {
      background-color: $light-grey-2;
    }
    td {
      padding: 5px;
      width: 33%;
      font-family: 'Gotham Book', sans-serif;
    }
  }

  .dataSource {
    text-align: right;
    max-width: unset;
  }
}
