@import '../../../assets/styles/colors.scss';

$drawer-width: 360px;
$header-height: 100px;
$button-width: 200px;

.details {
  height: 100%;
  display: grid;
  grid-template-columns: $drawer-width auto;
  grid-template-rows: $header-height auto;
}

.mapTitle {
  display: flex;
  align-items: center;
  justify-content: start;
  // font-size: 24px;
  font-size: 21.6px;
  // font-size: .9em;
  // font-family: 'rawline', serif;
  font-weight: bold;
  // background-color: rgb(255, 192, 203);

  .facilityName {
    margin-right: 10px;
    color: #213559;
  }

  &.alerted {
    background-color: $alerted-light;
  }
  &.stable {
    background-color: $stable-light;
  }
  &.critical {
    background-color: $critical-light;
  }

  .facilityIcon {
    height: 35px;
    margin: 0 10px;
  }

  & > i {
    font-size: 50px;
    color: $dark-blue;
  }

  & > div {
    position: absolute;
    height: auto;
    width: $drawer-width;

    font-size: 0.75em;
    // font-family: 'rawline', serif;
    font-weight: 600;

    &.critical {
      background-color: rgba($grey, 0.3);
    }
    &.alerted {
      background-color: rgba($grey, 0.3);
      // background-color: $alerted-translucent;
    }
    &.stable {
      background-color: rgba($grey, 0.3);
      // background-color: $stable-translucent;
    }

    //~*~magic~*~
    transform: translateY(calc(50% + #{$header-height} / 2));

    z-index: 500;
    & > p {
      &:first-child {
        padding-top: 20px;
      }
      padding-right: 20px;
      padding-left: 20px;
      &:last-child {
        padding-bottom: 20px;
      }
    }
  }
}

.detailsTitle {
  display: grid;
  grid-template-columns: auto $button-width;
  background-color: red;
  padding: 10px 20px 10px 20px;

  // font-family: 'rawline', serif;

  &.critical {
    background-color: $critical;
  }
  &.alerted {
    background-color: $alerted;
  }
  &.stable {
    background-color: $stable;
  }

  & > div:first-child {
    display: flex;
    align-items: center;
    justify-content: left;

    & > div > p {
      color: white;
      font-size: 24px;

      & > span {
        font-weight: bold;
        &.lastUpdated {
          font-family: 'Open Sans', sans-serif;
          font-weight: normal;
          font-style: italic;
          font-size: 0.6em;
        }
      }
    }
  }

  & > a {
    align-self: center;
    justify-self: right;
  }

  & > button, & > a > button {
    background-color: $dark-blue;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 175px;
    align-self: center;
    justify-self: right;
    white-space: nowrap;

    > i {
      vertical-align: bottom;
      margin-left: 10px;
      margin-right: -4px;
    }
  }
}
