@import '../../../assets/styles/colors.scss';

.alert {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $alert-yellow;
  z-index: 3;
}

.p {
  font-weight: bold;
  font-style: italic;
}

.highlight {
  color: $red;
}
